body {
   background-color: black;
   color:white;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   font-size: 16px;
   /* Sets the font size to 16px */
   line-height: 1.8;
   /* Sets the line-height to 1.6 */
   padding: 50px;
 }
 .logo {
   width: 200px;
   height:auto;
   margin-bottom: 25px;
 }

.button-class {
  margin: 0 0 20px 0;
  padding: 20px;
  border: none;
  font-size: 16px;
  background-color: white;
  color:black;
  display: inline-block;
  list-style-type: none;
  width:100%;
  text-align: left;
  transition-duration: 0.4s;
  cursor: pointer;
}

li {
  list-style-type: none;
}
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: darkblue;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  color: darkblue;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
} s
